.forgot-content {
  min-height: 90dvh;
  background: var(--color-bg);
}
.forgot-password-content {
  animation: fadeInUp 0.6s ease-out;
  min-height: 90dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > div {
    width: 50%;
  }
  .steps-container {
    margin-top: 4%;
  }
  .credentialsCard {
    margin-top: 5%;
    min-width: 30%;
    width: auto
  }
  .credentialsCard .label {
    color: var(--color-blue);
    font-weight: 600;
    font-size: 40px;
    margin: 12px 0;
  }
  button {
    width: 100%;
  }
}
.otp-container {
  display: flex;
  gap: 1em;
  justify-content: center;
  margin: 20px 0;
  max-width: 100%;
}
.otp-input {
  font-family: var(--font-family-main);
  flex: 1;
  padding: 12px 0;
  width: 1ch;
  text-align: center;
  font-size: 18px;
  border: 1px solid var(--color-gray-light);
  border-radius: 4px;
  outline: none;
}
.steps-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.step-item {
  text-align: center;
  flex: 1;
}
.step-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--color-gray-dark);
  color: var(--color-text-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid var(--color-gray);
  transition: all 0.4s cubic-bezier(0.68, -0.85, 0.27, 1.85);
}
.step-circle.active {
  scale: 1.2;
  margin-bottom: 0.5em;
  color: var(--color-white);
  background: var(--color-blue);
  border: 2px solid var(--color-blue);
}
.step-label {
  font-size: 1em;
  margin-top: 0.5em;
  color: var(--color-gray);
  transition: color 0.3s;
}
.step-label.active {
  color: var(--color-blue);
}
.steps-progress-bar {
  height: 2px;
  background: var(--color-gray);
  margin: 16px 0;
  position: relative;
}
.steps-progress {
  position: absolute;
  left: 0;
  top: 0;
  height: 2px;
  background: var(--color-blue);
  transition: width 0.3s;
}
@media (max-width: 760px) {
  .steps-container {
    width: 100% !important;
  }
  .forgot-password-content {
    margin: 0 2em;
    justify-content: space-evenly;
    .credentialsCard {
      width: auto;
    }
  }
}
