.credentialsCard {
  position: relative;
  height: max-content;
  margin: 0 auto;
  padding: 2em;
  backdrop-filter: blur(10px);
  color: var(--color-text-main);
  border: 1px solid var(--color-gray);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #00000021;
  width: 50vh;
}
.credentialsCard > .label {
  color: var(--color-text-main);
  margin-bottom: 5px;
}
.customTopNavbar .topNavbar {
  position: fixed;
}
.credentialsCard > span {
  margin-bottom: 5px;
}

.subtext {
  color: var(--color-text-main);
}
.inputBox {
  margin-bottom: 12px;
  position: relative;
}

.inputBox input {
  flex: 1;
  padding: 0.75rem 1rem;
  background: var(--color-bg-accent);
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  color: var(--color-text-main);
  font-size: 1rem;
  outline: none;
  transition: all 0.2s ease;
  font-family: var(--font-family-main);
  width: -webkit-fill-available;
}

.inputBox input:focus {
  border: 1px solid var(--color-blue);
  outline: 1px solid var(--color-blue);
}
.checkboxInput input:focus {
  border-color: var(--color-blue);
  outline: none;
  position: relative;
}
.checkboxInput {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
}
.checkboxInput .label {
  font-size: 15px;
}
.styled-checkbox {
  scale: 1.2;
}
.bottomSection {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.bottomSection p {
  margin: 5px;
}
.or-section {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.line {
  flex: 1;
  height: 1px;
  background-color: var(--color-blue);
  margin: 0 10px;
}

.or-text {
  color: var(--color-blue);
  font-weight: bold;
}
.underlineText {
  cursor: pointer;
  text-decoration: underline;
}

.password-container {
  position: relative;
  width: 250px;
}

.password-input {
  width: 100%;
  padding: 10px;
  padding-right: 30px; /* space for the button */
  border: 1px solid var(--color-gray-dark);
  border-radius: 4px;
}

.toggle-button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.mobile-signup {
  display: none;
}
/* Phone Screen CSS */
@media (max-width: 760px) {
  .credentialsCard {
    width: auto;
    margin: 25% auto;
  }
  .credentialsCard > .label {
    font-size: 22px;
  }
  .credentialsCard > span {
    font-size: 11px;
  }
  .inputBox input {
    padding: 7px;
    font-size: 12px;
  }
  .checkboxInput .label {
    font-size: 13px;
  }

  .bottomSection p {
    font-size: 12px;
  }
  .mobile-signup {
    display: block;
  }
}
